@using MusicForGood.Models
@model MusicForGood.Models.Playlist


<h2>Playlist Details</h2>
<hr/>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No Songs added.</p>
}
else
{
  <h4>Songs list</h4>
  <ul>
    @foreach(PlaylistSong join in Model.JoinEntities)
    { 
      <li>Song: @join.Song.Title</li>
    }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add Song", "AddSong", new {id = Model.PlaylistId})</p>