@model MusicForGood.Models.Song

<h2>Add @Html.DisplayFor(model => model.Title) to a playlist</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SongId);

  @Html.Label("Select Playlist");
  @Html.DropDownList("PlaylistId");

  <input type="submit" value="Save"/>
}

 <p>@Html.ActionLink("Back to list", "Index")</p>